<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список митингов &ndash; пуксреньк</title>
</head>
<body>
<a data-th-href="@{/tests/create}">+ Создать митинг</a>
<h1>Список митингов</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Митинг</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="meeting : ${meetings}">
        <td data-th-text="${meeting.id}"></td>
        <td>
            <a data-th-href="@{/tests/{meetingId}(meetingId=${meeting.id})}"
               data-th-text="${meeting.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>