* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Jura", sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    position: fixed; /* Фиксированная позиция */
    top: 0; /* Расположить шапку вверху страницы */
    width: 100%; /* Ширина равна 100% ширины экрана */
    background-color: #ffffff; /* Цвет фона */
    z-index: 1000; /* Уровень z-index, чтобы обеспечить, что шапка будет на переднем плане */
}

#header-content {
    margin: 0 auto; /* Центрирование содержимого шапки */
    max-width: 1200px; /* Максимальная ширина содержимого шапки */
}

#main-content {
    margin-top: 123px; /* Установить верхний отступ для основного содержимого, чтобы оно не перекрывалось шапкой */
}

.content {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 20px;
}

.header {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.search {
    position: relative;
    height: 100%;
}

.search__lable {
    height: 100%;
}

.search__input {
    padding:  0 20px 0 20px;
    height: 100%;
    border-radius: 20px;
    border-width: 1px;
}

.btn-apply {
    border-radius: 20px;
    border-width: 1px;
    width: 10%;
    height: 100%;
}

#filter-select {
    width: 400px;
    height: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    text-align: center;
    appearance: none;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    font-family: "Jura", sans-serif;
}

#filter-select option {
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
}

#filter-select:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.rectangle {
    width: 706px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgb(247, 109, 109);
    padding: 10px;
    margin: 40px auto 50px;
}

.rectangle h2 {
    color: white;
    font-size: 25px;
    margin: 0;
}

.events-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.event {
    width: 30%;
    height: 250px;
    background-color: lightblue;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.event a {
    text-decoration: none;
    color: var(--main-gray);
}

.event img {
    width: 340px;
    height: 150px;
    object-fit: cover;
    margin: 0;
}

.event h3 {
    display: inline-block;
    background-color: white;
    font-size: 25px;
    margin: -3px auto 0;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.event p {
    font-size: 20px;
    margin: 10px auto auto;
}