.nav {
    position: relative;
    width: 100vw;
    height: 65px;

    background-color: #F8E9A1;
    font-family: Jura;
}

.nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:hover {
    border-bottom: 1px solid #2E2E2E;
}

.logo {
    cursor: pointer;
    user-select: none;

    width: 80px;
    height: 80px;

    position: absolute;
    top: 0;
    left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */

    background-color: #F76D6D;
    color: #fff;

    box-sizing: content-box;
    border-right: 10px solid #F8E9A1;
    border-bottom: 10px solid #F8E9A1;

    font-size: 32px;
}

.nav__inner {
    position: relative;
    margin: 0 auto;

    max-width: 1080px;
    width: 70%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
}

.nav__left-block {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.nav__right-block {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}