:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1080px;
    width: 70%;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-reset {
    text-decoration: none;
    list-style: none;
}