<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/shared.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <title>LOM</title>
</head>
<body>
<div th:include="layout :: copy"></div>
<div class="content">
    <a data-th-href="@{/}">&larr; К списку митингов</a>
    <h1>Новый митинг</h1>
    <div data-th-if="${errors}">
        <h2>Допущены ошибки</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
    <form method="post" data-th-action="@{/meetings/create}">
        <label>
            Название:<br>
            <input type="text" name="title" data-th-value="${payload?.title}">
        </label><br>
        <label>
            Описание:<br>
            <textarea name="details" data-th-text="${payload?.details}"></textarea>
        </label><br>
        <label>
            Во скока?:<br>
            <!-- <input type="date" pattern="yyyy-MM-dd" name="date" data-th-text="${payload?.date}" /> -->
            <input id="date-input" type="date" name="date" data-th-text="${payload?.date}" />
        </label><br>
        <label>
            Где?:<br>
            <textarea name="place" data-th-text="${payload?.place}"></textarea>
        </label><br>
        <label>
            Сколько?:<br>
            <textarea name="totalNumberSeats" data-th-text="${payload?.totalNumberSeats}"></textarea>
        </label><br>

        <button type="submit">Создать</button>
    </form>
</div>
<script>
    document.getElementById('date-input').valueAsDate = new Date();
</script>
</body>
</html>