<!--<!DOCTYPE html>-->
<!--<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link th:href="@{/css/shared.css}" rel="stylesheet" />-->
<!--    <link th:href="@{/css/index.css}" rel="stylesheet" />-->
<!--    <link th:href="@{/css/layout.css}" rel="stylesheet" />-->
<!--    <title>LOM</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div th:include="layout :: copy"></div>-->
<!--    <div class="content">-->
<!--        <div>-->
<!--            <h2>Все мероприятия</h2>-->
<!--            <div><a href="/api/meetings">get json</a></div>-->
<!--            <ul>-->
<!--                <th:block th:each="meeting : ${meetings}">-->
<!--                    <li>-->
<!--                        <span th:utext="${meeting.name}"></span>-->
<!--                        <span th:utext="${meeting.date}"></span>-->
<!--                        <span th:utext="${meeting.place}"></span>-->
<!--                        <span th:utext="${meeting.totalNumberSeats}"></span>-->
<!--                        <a th:href="@{/meetings/__${meeting.id}__}">click</a>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>Пользователи</h2>-->
<!--            <div><a>click</a></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--<script type="text/javascript" th:src="@{/js/index.js}"></script>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/shared.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <title>LOM</title>
</head>
<body>
<li><a th:href="@{/test}" type="button" >Записаться</a></li>
<div th:include="layout :: copy"></div>
<div class="content">
    <header>
        <select id="filter-select">
            <option value="all">Все мероприятия</option>
            <option value="games">Игры</option>
            <option value="sports">Спорт</option>
            <option value="sports">Большая компания</option>
            <option value="sports">Маленькая компания</option>
            <option value="sports">На открытом воздухе</option>
        </select>
    </header>

    <div class="rectangle">
        <h2>Все мероприятия</h2>
    </div>

    <main>
        <div class="events-grid">
<!--            <ul>-->
<!--                <th:block th:each="meeting : ${meetings}">-->
<!--                <li class="event"></li>-->
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
                <div class="event">
                    <img src="../fonts/play.jpeg" alt="Мероприятие 1">
                    <h3>Сеанс настольных игр</h3>
                    <p>Записались: 20</p>
                </div>
            </a>
        </div>
    </main>
</div>
</body>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</html>