<html xmlns:th="http://www.thymeleaf.org">
<!-- <head>
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
</head> -->
<body>
    <div th:fragment="copy">
        <div class="nav" th:fragment="copy">
            <div class="logo">
                <div>LO</div>
                <div>M</div>
            </div>
            <div class="nav__inner">
                <div class="nav__left-block">
                    <a href="/">Главная</a>
                    <a>Добавить</a>
                    <a>Поиск</a>
                </div>
                <div class="nav__right-block">
                    <a>Профиль</a>
                    <a href="/logout">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>